body{
    background-color:#adecd9
}
.headline{
    font-weight:bold;
    font-size:30px;
    text-align:center;
    text-shadow:2px 2px 1px gray;
    padding:10px;
}
.base{
    margin-top:5px;
    margin-bottom:5px
}
.title-1{
    font-size:20px;
    font-weight:bolder
}
.content{
    padding:5px;
    border-style:dashed;
    border-width:2px;
    border-color:#4b8b3a;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
}
.target{
    display:flex;
    margin-top:10px;
    margin-bottom:5px;
    justify-content:center;
}
.stage{
    background-color:rgb(142, 180, 216);
    flex:none;
    width:20%;
}
.arrow{
    flex:none;
    display:table;
}
.stage-topic{
    margin-top:5px;
    text-align:center;
    font-weight:bold;
    font-size:18px;
}
.stage-content{
    text-align:left;
    padding:5px;
}
.imgbox{
    display:table-cell;
    vertical-align:middle;
}
.highlight{
    color:red;
}

.final{
    background-color:#235e13;
    color:white;
    padding:10px;
    font-size:25px;
    font-weight:bold;
    text-align:center;
    margin-top:20px;
}
